@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto-Thin.ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Thin';
  src: url('../../assets/fonts/Roboto-Thin.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto-ThinItalic.ttf');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto-ThinItalic';
  src: url('../../assets/fonts/Roboto-ThinItalic.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('../../assets/fonts/Roboto-Light.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto-LightItalic';
  src: url('../../assets/fonts/Roboto-LightItalic.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../../assets/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto-RegularItalic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto-RegularItalic';
  src: url('../../assets/fonts/Roboto-RegularItalic.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('../../assets/fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto-MediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto-MediumItalic';
  src: url('../../assets/fonts/Roboto-MediumItalic.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../../assets/fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto-BoldItalic';
  src: url('../../assets/fonts/Roboto-BoldItalic.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto-Black.ttf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Black';
  src: url('../../assets/fonts/Roboto-Black.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto-BlackItalic.ttf');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto-BlackItalic';
  src: url('../../assets/fonts/Roboto-BlackItalic.ttf');
}